* {
  font-family: 'B612 Mono', monospace;
}

body {
  background-color: #242424;
  margin: 0;
}

h3, h2 {
  color: #fff !important;
}

.jsoneditor-main {
  height: 80vh !important;
  filter: invert(1) hue-rotate(
          165deg
  );
}